Discovery_Sandbox.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WilsonWebsite.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WilsonWebsite.com/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://WilsonWebsite.com/">
<s:element name="endeavor">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="dataStream" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="endeavorResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="endeavorResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="_QuickTest">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="str" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="_QuickTestResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="_QuickTestResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="endeavorSoapIn">
<wsdl:part name="parameters" element="tns:endeavor"/>
</wsdl:message>
<wsdl:message name="endeavorSoapOut">
<wsdl:part name="parameters" element="tns:endeavorResponse"/>
</wsdl:message>
<wsdl:message name="_QuickTestSoapIn">
<wsdl:part name="parameters" element="tns:_QuickTest"/>
</wsdl:message>
<wsdl:message name="_QuickTestSoapOut">
<wsdl:part name="parameters" element="tns:_QuickTestResponse"/>
</wsdl:message>
<wsdl:portType name="SandBoxSoap">
<wsdl:operation name="EndeavorPut">
<wsdl:input name="endeavor" message="tns:endeavorSoapIn"/>
<wsdl:output name="endeavor" message="tns:endeavorSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetReturnString">
<wsdl:input name="_QuickTest" message="tns:_QuickTestSoapIn"/>
<wsdl:output name="_QuickTest" message="tns:_QuickTestSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="SandBoxSoap" type="tns:SandBoxSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="EndeavorPut">
<soap:operation soapAction="http://WilsonWebsite.com/endeavor" style="document"/>
<wsdl:input name="endeavor">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="endeavor">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetReturnString">
<soap:operation soapAction="http://WilsonWebsite.com/_QuickTest" style="document"/>
<wsdl:input name="_QuickTest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="_QuickTest">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="SandBoxSoap12" type="tns:SandBoxSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="EndeavorPut">
<soap12:operation soapAction="http://WilsonWebsite.com/endeavor" style="document"/>
<wsdl:input name="endeavor">
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output name="endeavor">
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetReturnString">
<soap12:operation soapAction="http://WilsonWebsite.com/_QuickTest" style="document"/>
<wsdl:input name="_QuickTest">
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output name="_QuickTest">
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="SandBox">
<wsdl:port name="SandBoxSoap" binding="tns:SandBoxSoap">
<soap:address location="https://localhost:44364/Discovery_Sandbox.asmx"/>
</wsdl:port>
<wsdl:port name="SandBoxSoap12" binding="tns:SandBoxSoap12">
<soap12:address location="https://localhost:44364/Discovery_Sandbox.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>